# Node modules
node_modules/

# Environment files
.env
.env.local
.env.development
.env.production

# System files
.DS_Store
Thumbs.db

# Logs
npm-debug.log
yarn-error.log
*.log
*.tmp
*.bak

# Build output
dist/
build/
coverage/
.vite/

# IDE
.vscode/
.idea/

# Dependency locks

# yarn.lock
# package-lock.json
# pnpm-lock.yaml

# Local uploads
uploads/
